/* stylelint-disable declaration-empty-line-before */
/* stylelint-disable rule-empty-line-before */
/* stylelint-disable indentation */
.breadcrumbs {
	margin-top: -13px;
	padding-bottom: 16px;

	&__list {
		@include flex-v-center;
		gap: 5px;
	}

	&__item {
		position: relative;

		&:not(:last-child)::after {
			content: "/";
			position: relative;
			right: -3px;
			font-size: 13px;
			color: var(--grey-color);
		}
	}

	&__link {
		font-size: 14px;
		line-height: 100%;
		color: var(--grey-color);

		&--active {
			color: var(--primary-shade);
		}
		}
}