.footer {
  &__wrapper {
    padding-top: 27px;
    padding-bottom: 18px;
    background-color: #eaeaea;
  }

  &__container {
    display: flex;
  }

  &__logo {
    margin-bottom: 25px;
  }

  &__list-social {
    @include flex-v-center;
  }

  &__item-social {
    &--svg {
      margin-right: 20px;
      width: 30px;
      height: 30px;
    }
  }

  &__left {
    margin-right: 250px;
  }

  &__right {
    display: flex;
    justify-content: space-between;
  }

  &__column {
    display: flex;
    flex-direction: column;
    max-width: 157px;
  }

  &__column1 {
    margin-right: 112px;
  }

  &__column2 {
    margin-right: 132px;
  }

  &__column3 {
    margin-right: 145px;
  }

  &__title {
    margin: 0;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: var(--black-color);
  }

  &__item {
    margin-bottom: 5px;
  }

  &__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: var(--grey-color);
  }

  &__copy {
    display: flex;
    justify-content: center;
    padding: 5px 0;
    font-size: 14px;
    line-height: 19px;
    color: var(--grey-color);
  }
}
