.footer {
  &__wrapper {
    padding-top: 24px;
    padding-bottom: 17px;
    background-color: #eaeaea;
  }

  &__logo {
    margin-bottom: 31px;
  }

  &__list-social {
    @include flex-v-center;
  }

  &__item-social {
    &--svg {
      margin-right: 20px;
      width: 30px;
      height: 30px;
    }
  }

  &__left {
    grid-column: 2 span;
  }

  &__right {
    display: flex;
    grid-column: 5 / 2 span;
    gap: 112px;
  }

  &__column {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: var(--black-color);
  }

  &__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: var(--grey-color);
  }

  &__copy {
    display: flex;
    justify-content: center;
    font-size: 14px;
    line-height: 19px;
    color: var(--grey-color);
  }
}
