.hero {
  &__container {
    padding: 0 max(15px, calc((100% - 1280px)) / 2);
  }

  &__swiper {
    height: 100%;
  }

  &__content {
    padding: 80px 0;
  }

  &__title {
    margin: 0;
    margin-bottom: 71px;
    max-width: 496px;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    color: var(--grey-color);

    &--white {
      min-width: 587px;
      color: var(--white-color);
    }
  }

  &__slide {
    min-height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &--img1 {
      background-image: url("../img/hero1.jpg");
    }

    &--img2 {
      background-image: url("../img/hero2.jpg");
    }

    &--img3 {
      background-image: url("../img/hero3.jpg");
    }
  }
}
