/* stylelint-disable selector-combinator-space-after */
/* stylelint-disable max-line-length */
/* stylelint-disable selector-list-comma-newline-after */
/* stylelint-disable block-opening-brace-space-before */
/* stylelint-disable selector-combinator-space-before */
.hero {
  &__container {
    padding: 0 max(15px, calc((100% - 1280px)) / 2);
  }

  &__swiper {
    height: 100%;
  }

  &__swiper .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 20px;
  }

  &__swiper .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 8px;
  }

  &__swiper .swiper-pagination-bullet-active {
    background: var(--black-color);
  }

  &__swiper .swiper-pagination-bullet{
    width: 14px;
    height: 14px;
  }

  &__content {
    padding: 80px 0;
  }

  &__title {
    margin: 0;
    margin-bottom: 71px;
    max-width: 496px;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    color: var(--grey-color);

    &--white {
      min-width: 587px;
      color: var(--white-color);
    }
  }

  &__slide {
    min-height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &--img1 {
      background-image: url("../img/hero1.jpg");
    }

    &--img2 {
      background-image: url("../img/hero2.jpg");
    }

    &--img3 {
      background-image: url("../img/hero3.jpg");
    }
  }
}
