<div class="container">
	<nav class="breadcrumbs" aria-label="Хлебные крошки">
		<ul class="list-reset breadcrumbs__list">
			<li class="breadcrumbs__item">
				<a class="breadcrumbs__link" href="../../../">Главная</a>
			</li>
			<li class="breadcrumbs__item">
				<a class="breadcrumbs__link" href="../../">Каталог</a>
			</li>
			<li class="breadcrumbs__item">
				<a class="breadcrumbs__link" href="./" aria-current="page">Диваны</a>
			</li>
			<li class="breadcrumbs__item">
				<a class="breadcrumbs__link breadcrumbs__link--active" href="index.html" aria-current="index">Прямые диваны</a>
			</li>
		</ul>
	</nav>
</div>