<section class="catalog-section">
	<div class="container catalog-section__container grid">
		<div class="catalog-section__left">
			<div class="catalog-filter">
				<h2 class="catalog-filter__title">Фильтровать по:</h2>
				<div class="filter-block">
					<h3 class="filter-block__title">Категория</h3>
					<ul class="list-reset filter-block__list">
						<li class="filter-block__item">
							<label class="form__checkbox-label">
								<input class="form__checkbox filter-block__checkbox" type="checkbox" checked>
								<span class="form__custom-checkbox filter-block__custom-checkbox"></span>
								Диваны
							</label>
						</li>
						<li class="filter-block__item">
							<label class="form__checkbox-label">
								<input class="form__checkbox" type="checkbox">
								<span class="form__custom-checkbox filter-block__custom-checkbox"></span>
								Кресла
							</label>
						</li>
						<li class="filter-block__item">
							<label class="form__checkbox-label">
								<input class="form__checkbox" type="checkbox">
								<span class="form__custom-checkbox filter-block__custom-checkbox"></span>
								Пуфы
							</label>
						</li>
						<li class="filter-block__item">
							<label class="form__checkbox-label">
								<input class="form__checkbox" type="checkbox">
								<span class="form__custom-checkbox filter-block__custom-checkbox"></span>
								Кровати
							</label>
						</li>
						<li class="filter-block__item">
							<label class="form__checkbox-label">
								<input class="form__checkbox" type="checkbox">
								<span class="form__custom-checkbox filter-block__custom-checkbox"></span>
								Тумбы
							</label>
						</li>
						<li class="filter-block__item">
							<label class="form__checkbox-label">
								<input class="form__checkbox" type="checkbox">
								<span class="form__custom-checkbox filter-block__custom-checkbox"></span>
								Комоды
							</label>
						</li>
						<li class="filter-block__item">
							<label class="form__checkbox-label">
								<input class="form__checkbox" type="checkbox">
								<span class="form__custom-checkbox filter-block__custom-checkbox"></span>
								Стулья
							</label>
						</li>
						<li class="filter-block__item">
							<label class="form__checkbox-label">
								<input class="form__checkbox" type="checkbox">
								<span class="form__custom-checkbox filter-block__custom-checkbox"></span>
								Столы
							</label>
						</li>
						<li class="filter-block__item">
							<label class="form__checkbox-label">
								<input class="form__checkbox" type="checkbox">
								<span class="form__custom-checkbox filter-block__custom-checkbox"></span>
								Аксессуары
							</label>
						</li>
					</ul>
				</div>
				<div class="filter-block">
					<h3 class="filter-block__title filter-block__title--price">Цена</h3>
					<div class="filter-block__inputs">
						<label class="filter-block__label">
							<span class="filter-block__text">от</span>
							<input class="filter-block__input" id="input-0" min="2000" max="150 000" placeholder="2000" type="number">
						</label>
						<label class="filter-block__label">
							<span class="filter-block__text">до</span>
							<input class="filter-block__input" id="input-1" min="2000" max="150 000" placeholder="150000"
								type="number">
						</label>
					</div>
					<div class="filter-block__slider" id="range-slider"></div>
				</div>
				<div class="filter-block">
					<h3 class="filter-block__title">Скидка</h3>
					<ul class="list-reset filter-block__list">
						<li class="filter-block__item">
							<label class="form__checkbox-label">
								<input class="form__checkbox" type="checkbox">
								<span class="form__custom-checkbox filter-block__custom-checkbox"></span>
								Более 5 000
							</label>
						</li>
						<li class="filter-block__item">
							<label class="form__checkbox-label">
								<input class="form__checkbox" type="checkbox">
								<span class="form__custom-checkbox filter-block__custom-checkbox"></span>
								Менее 5 000
							</label>
						</li>
						<li class="filter-block__item">
							<label class="form__checkbox-label">
								<input class="form__checkbox" type="checkbox" checked>
								<span class="form__custom-checkbox filter-block__custom-checkbox"></span>
								Не важно
							</label>
						</li>
					</ul>
				</div>
				<div class="filter-block">
					<h3 class="filter-block__title">Цвет</h3>
					<ul class="list-reset filter-block__list">
						<li class="filter-block__item">
							<label class="form__checkbox-label">
								<input class="form__checkbox" type="checkbox">
								<span class="form__custom-checkbox filter-block__custom-checkbox"></span>
								Коричневый
							</label>
						</li>
						<li class="filter-block__item">
							<label class="form__checkbox-label">
								<input class="form__checkbox" type="checkbox">
								<span class="form__custom-checkbox filter-block__custom-checkbox"></span>
								Черный
							</label>
						</li>
						<li class="filter-block__item">
							<label class="form__checkbox-label">
								<input class="form__checkbox" type="checkbox">
								<span class="form__custom-checkbox filter-block__custom-checkbox"></span>
								Бежевый
							</label>
						</li>
						<li class="filter-block__item">
							<label class="form__checkbox-label">
								<input class="form__checkbox" type="checkbox">
								<span class="form__custom-checkbox filter-block__custom-checkbox"></span>
								Серый
							</label>
						</li>
						<li class="filter-block__item">
							<label class="form__checkbox-label">
								<input class="form__checkbox" type="checkbox">
								<span class="form__custom-checkbox filter-block__custom-checkbox"></span>
								Белый
							</label>
						</li>
						<li class="filter-block__item">
							<label class="form__checkbox-label">
								<input class="form__checkbox" type="checkbox">
								<span class="form__custom-checkbox filter-block__custom-checkbox"></span>
								Синий
							</label>
						</li>
						<li class="filter-block__item">
							<label class="form__checkbox-label">
								<input class="form__checkbox" type="checkbox" checked>
								<span class="form__custom-checkbox filter-block__custom-checkbox"></span>
								Оранжевый
							</label>
						</li>
						<li class="filter-block__item">
							<label class="form__checkbox-label">
								<input class="form__checkbox" type="checkbox">
								<span class="form__custom-checkbox filter-block__custom-checkbox"></span>
								Желтый
							</label>
						</li>
						<li class="filter-block__item">
							<label class="form__checkbox-label">
								<input class="form__checkbox" type="checkbox">
								<span class="form__custom-checkbox filter-block__custom-checkbox"></span>
								Зеленый
							</label>
						</li>
					</ul>
				</div>
			</div>
			<div class="filter-block__banner">
				<img src="img/catalog-banner.png" class="filter-block__banner-img" alt="">
				<div class="filter-block__banner-content">
					<h2 class="filter-block__banner-title"><span class="filter-block__banner-title--gold">Оксфорд 1950</span> Новая коллекция изысканных кресел</h2>
					<a href="#" class="filter-block__banner-link">
						В каталог
						<svg class="filter-block__banner-svg">
							<use xlink:href="img/sprite.svg#btn-arrow-right"></use>
						</svg>
					</a>
				</div>
			</div>
		</div>
		<div class="catalog-section__right">
		</div>
	</div>
</section>