<section class="categories">
  <div class="container">
    <h2 class="title-section categories__title">Топ категории</h2>
    <ul class="list-reset categories__list grid">
      <li class="categories__item categories__item--big1">
        <article class="categories__article">
          <ul class="list-reset categories__link-list">
            <li class="categories__link-item">
              <a href="#" class="categories__article-link">Прямые</a>
            </li>
            <li class="categories__link-item">
              <a href="#" class="categories__article-link">Угловые</a>
            </li>
            <li class="categories__link-item">
              <a href="#" class="categories__article-link">Модульные</a>
            </li>
          </ul>
          <h3 class="categories__heading">Диваны</h3>
          <a href="#" class="categories__link">В каталог
            <svg class="categories__link--svg">
              <use xlink:href="img/sprite.svg#btn-arrow-right"></use>
            </svg>
          </a>
        </article>
      </li>
      <li class="categories__item categories__item--big2">
        <article class="categories__article">
          <ul class="list-reset categories__link-list">
            <li class="categories__link-item">
              <a href="#" class="categories__article-link">Мягкие</a>
            </li>
            <li class="categories__link-item">
              <a href="#" class="categories__article-link">Кресла-кровати</a>
            </li>
          </ul>
          <h3 class="categories__heading">Кресла</h3>
          <a href="#" class="categories__link">В каталог
            <svg class="categories__link--svg">
              <use xlink:href="img/sprite.svg#btn-arrow-right"></use>
            </svg>
          </a>
        </article>
      </li>
      <li class="categories__item categories__item--small1">
        <article class="categories__article">
          <ul class="list-reset categories__link-list">
            <li class="categories__link-item">
              <a href="#" class="categories__article-link">Односпальные</a>
            </li>
            <li class="categories__link-item">
              <a href="#" class="categories__article-link">Двуспальные</a>
            </li>
          </ul>
          <h3 class="categories__heading">Кровати</h3>
          <a href="#" class="categories__link">В каталог
            <svg class="categories__link--svg">
              <use xlink:href="img/sprite.svg#btn-arrow-right"></use>
            </svg>
          </a>
        </article>
      </li>
      <li class="categories__item categories__item--small2">
        <article class="categories__article">
          <ul class="list-reset categories__link-list">
            <li class="categories__link-item">
              <a href="#" class="categories__article-link">Тумбы</a>
            </li>
            <li class="categories__link-item">
              <a href="#" class="categories__article-link">Комоды</a>
            </li>
          </ul>
          <h3 class="categories__heading">Тумбы и комоды</h3>
          <a href="#" class="categories__link">В каталог
            <svg class="categories__link--svg">
              <use xlink:href="img/sprite.svg#btn-arrow-right"></use>
            </svg>
          </a>
        </article>
      </li>
      <li class="categories__item categories__item--small3">
        <article class="categories__article">
          <ul class="list-reset categories__link-list">
            <li class="categories__link-item">
              <a href="#" class="categories__article-link">Деревянные</a>
            </li>
            <li class="categories__link-item">
              <a href="#" class="categories__article-link">Металлокаркас</a>
            </li>
          </ul>
          <h3 class="categories__heading">Стулья</h3>
          <a href="#" class="categories__link">В каталог
            <svg class="categories__link--svg">
              <use xlink:href="img/sprite.svg#btn-arrow-right"></use>
            </svg>
          </a>
        </article>
      </li>
    </ul>
  </div>
</section>
