<section class="footer">
  <div class="footer__wrapper">
    <div class="container footer__container">
      <div class="footer__left">
        <img class="footer__logo" src="img/footer-logo.svg" alt="">
        <ul class="list-reset footer__list-social">
          <li class="footer__item-social">
            <svg class="footer__item-social--svg">
              <use xlink:href="img/sprite.svg#facebook"></use>
            </svg>
          </li>
          <li class="footer__item-social">
            <svg class="footer__item-social--svg">
              <use xlink:href="img/sprite.svg#vk"></use>
            </svg>
          </li>
          <li class="footer__item-social">
            <svg class="footer__item-social--svg">
              <use xlink:href="img/sprite.svg#instagram"></use>
            </svg>
          </li>
        </ul>
      </div>

      <div class="footer__right">
        <div class="footer__column footer__column1">
          <h2 class="footer__title">О нас</h2>
          <ul class="list-reset footer__list">
            <li class="footer__item"><a href="#" class="footer__link">О компании</a></li>
            <li class="footer__item"><a href="#" class="footer__link">Блог</a></li>
          </ul>
        </div>

        <div class="footer__column footer__column2">
          <h2 class="footer__title">Услуги</h2>
          <ul class="list-reset footer__list">
            <li class="footer__item"><a href="#" class="footer__link">Доставка</a></li>
            <li class="footer__item"><a href="#" class="footer__link">Рассрочка и кредит</a></li>
            <li class="footer__item"><a href="#" class="footer__link">Сборка и установка</a></li>
          </ul>
        </div>

        <div class="footer__column footer__column3">
          <h2 class="footer__title">Связь с нами</h2>
          <ul class="list-reset footer__list">
            <li class="footer__item"><a href="#" class="footer__link">Обратная связь</a></li>
            <li class="footer__item"><a href="#" class="footer__link">Контакты</a></li>
          </ul>
        </div>

        <div class="footer__column footer__column4">
          <h2 class="footer__title">Сотрудничество</h2>
          <ul class="list-reset footer__list">
            <li class="footer__item"><a href="#" class="footer__link">Поставщикам</a></li>
            <li class="footer__item"><a href="#" class="footer__link">Оптовикам</a></li>
            <li class="footer__item"><a href="#" class="footer__link">Карьера</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
  <div class="footer__copy">
    SDP® 2011-2021
  </div>
</section>