<section class="form">
  <div class="container form__container grid">
    <div class="form__left">
      <h2 class="title-section form__title">Мы всегда вам рады!</h2>
      <p class="form__descr">
        Безусловно, новая модель организационной деятельности в значительной степени обусловливает важность
        распределения внутренних резервов и ресурсов.
      </p>
      <form class="form__wrapper">
        <input class="input-reset form__input" type="text" name="name" placeholder="Как вас зовут?">
        <input class="input-reset form__input" type="number" name="phone" placeholder="Ваш телефон">
        <input class="input-reset form__input" type="email" name="email" placeholder="Ваш e-mail">
        <button class="btn-primary form__btn" type="submit">Отправить</button>
        <div class="form__accord-block">
          <input class="form__checkbox" type="checkbox" id="scales" name="scales" checked>
          <p class="form__accord">Принимаю <span class="form__accord--primary">пользовательское соглашение</span></p>
        </div>
      </form>
    </div>
    <div class="form__right">
      <img src="img/form-img.png" alt="">
    </div>
  </div>
</section>
