<header class="header">
  <div class="header-row1">
    <div class="container header-row1__container">
      <div class="header-row1__region">
        <span class="header-row1__region--text"> Ваш регион: </span>
        <select class="header-row1__select" id="selectRegion">
          <option>Москва</option>
          <option>Казань</option>
          <option>Уфа</option>
          <option>Пермь</option>
        </select>
      </div>
      <a href="tel:+74958854547" class="header-row1__phone">
        <svg class="header-row1__phone--svg">
          <use xlink:href="img/sprite.svg#phone"></use>
        </svg>
        +7 (495) 885-45-47</a>
      <ul class="list-reset header-row1__list">
        <li class="header-row1__item">
          <a href="#" class="header-row1__link">О компании</a>
        </li>
        <li class="header-row1__item">
          <a href="#" class="header-row1__link">Гарантия и возврат</a>
        </li>
        <li class="header-row1__item">
          <a href="#" class="header-row1__link">Корпоративным клиентам</a>
        </li>
        <li class="header-row1__item">
          <a href="#" class="header-row1__link">Дизайн-решение</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="header-row2">
    <div class="container header-row2__container">
      <a href="#"><img src="img/logo.svg" alt="Логотип SitDownPls"></a>
      <nav class="nav">
        <ul class="list-reset nav__list">
          <li class="nav__item">
            <a href="#" class="nav__link">Каталог</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Магазины</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Шоу-рум</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Доставка и оплата</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Дисконт</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Контакты</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="header-row3">
    <div class="container header-row3__container">
      <form class="header-row3__form">
        <input class="input-reset header-row3__search" type="search" id="serch" placeholder="Я хочу купить...">
        <button type="submit" class="btn-reset header-row3__search-btn" aria-label="Поиск">
          <svg class="header-row3__search--svg">
            <use xlink:href="img/sprite.svg#search-btn"></use>
          </svg>
        </button>
      </form>
      <div class="header-row3__category">
        <select class="header-row3__select" id="selectCategory">
          <option>Категория</option>
          <option>Диваны</option>
          <option>Пуфы</option>
          <option>Кровати</option>
          <option>Тумбы</option>
        </select>
      </div>
      <div class="header-row3__btns">
        <button class="btn-reset header-row3__user" aria-label="Открыть кабинет">
          <svg class="header-row3__user--svg">
            <use xlink:href="img/sprite.svg#user"></use>
          </svg>
        </button>
        <button class="btn-reset header-row3__cart" aria-label="Открыть корзину">
          <span class="header-row3__cart--number">0</span>
          <svg class="header-row3__cart--svg">
            <use xlink:href="img/sprite.svg#cart"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>
