<section class="hero">
  <div class="swiper hero__swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide hero__slide hero__slide--img1">
        <div class="hero__container">
          <div class="hero__content">
            <h2 class="hero__title">Скидка 15% на первую покупку</h2>
            <a href="#" class="btn-primary">Получить!</a>
          </div>
        </div>
      </div>
      <div class="swiper-slide hero__slide hero__slide--img2"">
        <div class=" hero__container">
        <div class="hero__content">
          <h2 class="hero__title">1000+ аксессуаров для дома</h2>
          <a href="#" class="btn-primary">Подробнее</a>
        </div>
      </div>
    </div>
    <div class=" swiper-slide hero__slide hero__slide--img3"">
        <div class=" hero__container">
      <div class="hero__content">
        <h2 class="hero__title hero__title--white ">Коллекция стильного и яркого текстиля</h2>
        <a href="#" class="btn-primary">Подробнее</a>
      </div>
    </div>
  </div>
  </div>
  <div class="swiper-pagination"></div>
  </div>
</section>
