<section class="offers">
  <div class="container">
    <div class="offers__top">
      <h2 class="title-section offers__title">Специальные предложения</h2>
      <div class="offers__btn-swiper">
        <div class="swiper-button-prev offers-button-prev"></div>
        <div class="swiper-button-next offers-button-next"></div>
      </div>
    </div>


    <div class="swiper offers__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide offers__slide">
          <article class="offers__card">
            <span class="offers__discount">- 9 000</span>
            <div class="offers__images">
              <img src="img/offers1.png" alt="Кресло велюровое">
            </div>
            <div class="offers__content">
              <h3 class="offers__heading">Кресло велюровое “X-24”</h3>
              <div class="offers__prices">
                <span class="offers__prices--new">15 990 руб</span>
                <span class="offers__prices--old">24 990 руб</span>
              </div>
              <button class="btn-reset btn offers__btn">Купить</button>
            </div>
          </article>
        </div>
        <div class="swiper-slide offers__slide-big">
          <div class="wrapper">
            <article class="offers__card offers__card--big1">
              <span class="offers__discount"> - 10 000</span>
              <div class="offers__images">
                <img src="img/offers2.png" alt="Кресло велюровое">
              </div>
              <div class="offers__content">
                <h3 class="offers__heading">Диван тканевый “Z-44”</h3>
                <div class="offers__prices">
                  <span class="offers__prices--new">22 990 руб</span>
                  <span class="offers__prices--old">32 990 руб</span>
                </div>
                <button class="btn-reset btn offers__btn">Купить</button>
              </div>
            </article>
          </div>
        </div>
        <div class=" swiper-slide offers__slide">
          <article class="offers__card">
            <span class="offers__discount">- 600</span>
            <div class="offers__images">
              <img src="img/offers3.png" alt="Кресло велюровое">
            </div>
            <div class="offers__content">
              <h3 class="offers__heading">Будильник “Quartz-23”</h3>
              <div class="offers__prices">
                <span class="offers__prices--new">1 290 руб</span>
                <span class="offers__prices--old">1 890 руб</span>
              </div>
              <button class="btn-reset btn offers__btn">Купить</button>
            </div>
          </article>
        </div>
        <div class="swiper-slide offers__slide">
          <article class="offers__card">
            <span class="offers__discount">- 300</span>
            <div class="offers__images">
              <img src="img/offers4.png" alt="Кресло велюровое">
            </div>
            <div class="offers__content">
              <h3 class="offers__heading">Мини-скульптура “Oh my deer”</h3>
              <div class="offers__prices">
                <span class="offers__prices--new">690 руб</span>
                <span class="offers__prices--old">990 руб</span>
              </div>
              <button class="btn-reset btn offers__btn">Купить</button>
            </div>
          </article>
        </div>
        <div class="swiper-slide offers__slide-big">
          <div class="wrapper">
            <article class="offers__card offers__card--big2">
              <span class="offers__discount"> - 10 000</span>
              <div class="offers__images">
                <img src="img/offers2.png" alt="Диван вел-флок">
              </div>
              <div class="offers__content">
                <h3 class="offers__heading">Диван вел-флок “Z-85”</h3>
                <div class="offers__prices">
                  <span class="offers__prices--new">22 990 руб</span>
                  <span class="offers__prices--old">32 990 руб</span>
                </div>
                <button class="btn-reset btn offers__btn">Купить</button>
              </div>
            </article>
          </div>
        </div>
        <div class=" swiper-slide offers__slide">
          <article class="offers__card">
            <span class="offers__discount">- 600</span>
            <div class="offers__images">
              <img src="img/offers3.png" alt="Кресло велюровое">
            </div>
            <div class="offers__content">
              <h3 class="offers__heading">Будильник “Quartz-23”</h3>
              <div class="offers__prices">
                <span class="offers__prices--new">15 990 руб</span>
                <span class="offers__prices--old">24 990 руб</span>
              </div>
              <button class="btn-reset btn offers__btn">Купить</button>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
