<section class="rating">
  <div class="container">
    <h2 class="title-section rating__title">Высокий рейтинг</h2>
    <ul class="list-reset rating__list">
      <li class="rating__item">
        <span class="rating__stars">
          <svg class="rating__stars--svg">
            <use xlink:href="img/sprite.svg#stars"></use>
          </svg>
          5,0
        </span>
        <img src="img/rating1.png" alt="" class="rating__images">
        <div class="rating__content">
          <h3 class="rating__heading">Диван кожаный &laquo;R-94&raquo;</h3>
          <span class="rating__price">94 990 руб</span>
          <button class="rating__btn btn">Купить</button>
        </div>
      </li>
      <li class="rating__item">
        <span class="rating__stars">
          <svg class="rating__stars--svg">
            <use xlink:href="img/sprite.svg#stars"></use>
          </svg>
          4,9
        </span>
        <img src="img/rating2.png" alt="" class="rating__images">
        <div class="rating__content">
          <h3 class="rating__heading rating__heading--big">Диван апартековый “T-75”</h3>
          <span class="rating__price">69 990 руб</span>
          <button class="rating__btn btn">Купить</button>
        </div>
      </li>
      <li class="rating__item">
        <span class="rating__stars">
          <svg class="rating__stars--svg">
            <use xlink:href="img/sprite.svg#stars"></use>
          </svg>
          4,8
        </span>
        <img src="img/rating3.png" alt="" class="rating__images">
        <div class="rating__content">
          <h3 class="rating__heading">Диван тканевый “D-31”</h3>
          <span class="rating__price">28 490 руб</span>
          <button class="rating__btn btn">Купить</button>
        </div>
      </li>
      <li class="rating__item">
        <span class="rating__stars">
          <svg class="rating__stars--svg">
            <use xlink:href="img/sprite.svg#stars"></use>
          </svg>
          4,8
        </span>
        <img src="img/rating4.png" alt="" class="rating__images">
        <div class="rating__content">
          <h3 class="rating__heading">Диван велюровый “Y-68”</h3>
          <span class="rating__price">22 990 руб</span>
          <button class="rating__btn btn">Купить</button>
        </div>
      </li>
      <li class="rating__item">
        <span class="rating__stars">
          <svg class="rating__stars--svg">
            <use xlink:href="img/sprite.svg#stars"></use>
          </svg>
          4,8
        </span>
        <img src="img/rating5.png" alt="" class="rating__images">
        <div class="rating__content">
          <h3 class="rating__heading">Диван из шинила “W-95”</h3>
          <span class="rating__price">22 990 руб</span>
          <button class="rating__btn btn">Купить</button>
        </div>
      </li>
      <li class="rating__item">
        <span class="rating__stars">
          <svg class="rating__stars--svg">
            <use xlink:href="img/sprite.svg#stars"></use>
          </svg>
          4,8
        </span>
        <img src="img/rating6.png" alt="" class="rating__images">
        <div class="rating__content">
          <h3 class="rating__heading">Диван флоковый “G-41”</h3>
          <span class="rating__price">17 990 руб</span>
          <button class="rating__btn btn">Купить</button>
        </div>
      </li>
      <li class="rating__item">
        <span class="rating__stars">
          <svg class="rating__stars--svg">
            <use xlink:href="img/sprite.svg#stars"></use>
          </svg>
          4,8
        </span>
        <img src="img/rating7.png" alt="" class="rating__images">
        <div class="rating__content">
          <h3 class="rating__heading">Диван шиниловый “V-43”</h3>
          <span class="rating__price">19 990 руб</span>
          <button class="rating__btn btn">Купить</button>
        </div>
      </li>
      <li class="rating__item">
        <span class="rating__stars">
          <svg class="rating__stars--svg">
            <use xlink:href="img/sprite.svg#stars"></use>
          </svg>
          4,8
        </span>
        <img src="img/rating8.png" alt="" class="rating__images">
        <div class="rating__content">
          <h3 class="rating__heading">Диван велюровый “S-99”</h3>
          <span class="rating__price">19 990 руб</span>
          <button class="rating__btn btn">Купить</button>
        </div>
      </li>
    </ul>
    <div class="rating__btn-center">
      <button class="btn-primary rating__btn-more">
        Смотреть больше товаров
      </button>
    </div>
  </div>
</section>
