<section class="useful">
  <div class="container">
    <div class="useful__top">
      <h2 class="useful__title title-section">Полезное</h2>
      <div class="useful__btn-swiper">
        <div class="swiper-button-prev useful-button-prev"></div>
        <div class="swiper-button-next useful-button-next"></div>
      </div>
    </div>

    <div class="swiper useful__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide ">
          <article class="useful__article">
            <img src="img/useful1.jpg" alt="" class="useful__images">
            <div class="useful__content">
              <p class="useful__descr">
                И нет сомнений, что сделанные на базе интернет-аналитики выводы представляют собой не что иное?
              </p>
              <a href="#" class="btn useful__link">Читать</a>
            </div>
          </article>
        </div>

        <div class="swiper-slide ">
          <article class="useful__article">
            <img src="img/useful2.jpg" alt="" class="useful__images">
            <div class="useful__content">
              <p class="useful__descr">
                Как принято считать, некоторые особенности приносят несомненную пользу обществу?
              </p>
              <a href="#" class="btn useful__link">Читать</a>
            </div>
          </article>
        </div>

        <div class="swiper-slide ">
          <article class="useful__article">
            <img src="img/useful3.jpg" alt="" class="useful__images">
            <div class="useful__content">
              <p class="useful__descr">
                Ясность нашей позиции очевидна: укрепление и развитие внутренней структуры?
              </p>
              <a href="#" class="btn useful__link">Читать</a>
            </div>
          </article>
        </div>

        <div class="swiper-slide ">
          <article class="useful__article">
            <img src="img/useful4.jpg" alt="" class="useful__images">
            <div class="useful__content">
              <p class="useful__descr">
                Прежде всего, консультация с широким активом однозначно фиксирует необходимость распределения?
              </p>
              <a href="#" class="btn useful__link">Читать</a>
            </div>
          </article>
        </div>

        <div class="swiper-slide ">
          <article class="useful__article">
            <img src="img/useful5.jpg" alt="" class="useful__images">
            <div class="useful__content">
              <p class="useful__descr">
                Как принято считать, некоторые особенности приносят несомненную пользу обществу?
              </p>
              <a href="#" class="btn useful__link">Читать</a>
            </div>
          </article>
        </div>

      </div>
    </div>

  </div>
</section>




<!-- <li class="useful__item">
  <article class="useful__article">
    <img src="img/useful1.jpg" alt="" class="useful__images">
    <div class="useful__content">
      <p class="useful__descr">И нет сомнений, что сделанные на базе интернет-аналитики выводы представляют собой
        не
        что иное?
      </p>
      <a href="#" class="btn useful__link">Читать</a>
    </div>
  </article>
</li> -->
