:root {
  // base
  --font-family: "OpenSans";
  --font-second: "Playfair-Display";
  --content-width: 1280px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --white-color: #fff;
  --grey-light-color: #f7f7f7;
  --black-color: #333;
  --primary-color: #a65cf0;
  --secondary-color: #ff862f;
  --grey-color: #9999;
  --grey-shade: #666;
  --gold-color: #d5b986;
  --primary-shade: #7033ac;
}
